.error {
    color: #cc2e81;
}
.input {
    display: grid;
    align-self: center;
    border: none;
    padding: 10px;
    resize: none;
    background-color: transparent;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
}
.input:focus {
    outline: none;
}
.form {
    display: grid;
}