.logo {
    width: 100px;
}
h1 {
    margin: 0px 5px;
}
main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 1fr;
    max-width: 550px;
    font-size: larger;
}
main a {
    color: hotpink;
}