 .list {
     font-size: larger;
     display: grid;
     align-items: center;
     justify-content: space-around;

 }
 .heading {
     display: grid;
     grid-template-columns: 1fr 1fr 40px;
     margin: 10px 5px 20px 5px;
     font-size: xx-large;
     font-weight: bold;
     align-items: center;

 }
.heading span {
    margin-left: 10px;
}
 .addTaskForm {
     display: grid;
     grid-template-columns: 1fr 50px;
 }
 .icon {
     display: grid;
     justify-self: end;
     margin-right: 10px;
     width: 25px;
     height: 25px;
 }
 .icon:hover {
     filter: brightness(90%);
 }
 .icon:active {
     filter: brightness(70%);
 }
 .paginationOptions {
     display: grid;
     grid-template-areas: 'h h h' 's s s' ;
     justify-content: center;
     justify-items: center
 }
 .paginationOptions span {
     padding: 5px;
     width: 20px;
     text-align: center;
     font-weight: bold;
     cursor: default;
 }
 .paginationOptions span:hover {
     color: #717ca1;
 }
 .paginationOptions span:active {
     color: #455b96;
 }
 .optionsHeading {
     grid-area: h;
     margin: 5px 5px;
 }