 .list {
     background-color:blanchedalmond;
     font-size: larger;
     display: grid;
     align-items: center;
     justify-content: space-around;
 }
textarea {
    border-radius: 20px;
    padding: 10px 5px;
}
 .item {
     display: grid;
     grid-template-columns: 30px 1fr;
     padding: 5px;
     margin: 2px;
     border: 1px solid  burlywood;
     max-width: 500px;
     align-items: center;
     background-color: #E8E8F9;
 }
 .checkbox {
     margin: 5px;
     width: 20px;
     height: 20px;
 }
 .heading {
     display: grid;
     grid-template-columns: 1fr 1fr;
     justify-content: space-between;
     justify-items: center;
     font-size: xx-large;
     font-weight: bold;
     align-items: center
 }
 .button {
     margin-top: 5px;
     margin-left: 5px;
     padding: 5px 10px;
     text-align: center;
     border: 0;
     border-radius: 5px;
     max-width: 150px;
     background: #EA9BD7;
     color: white;
     font-size: medium;
 }
 .updateTaskForm {
     display: grid;
 }
 .addPostForm {
     display: grid;
 }
 .todoIcons {
     max-width: 20px;
     margin: 5px;
     height: 20px;
     filter: invert(50%) sepia(30%);;
 }
 .itemTitle {
     display: grid;
     grid-template-columns: 5fr 30px 30px;
     align-items: center
 }