.navbar {
    background-color: #E8E8F9;
    font-size: larger;
    height: 100%;
}

.item .active {
    color: hotpink;
    text-decoration: none;

}
a:active {
    color: #f82a8e;
    text-decoration: none
}
.item a{
    display: block;
    margin: 10px 5px;
    font-size: xx-large;
    text-decoration: none;
}